@use '../base' as *;

// --------------------------------

// (START) Global editor code https://codyhouse.co/ds/globals/forms

// --------------------------------

:root {
 
  --form-control-radius: 0em;
}

.form-control {
  background: var(--color-bg-dark);
  line-height: 1.2;
  transition: all 0.2s ease;

  &::placeholder {
    opacity: 1;  
    color: var(--color-contrast-low);
  }

  &:focus {
    background: var(--color-bg);
    outline: none;
  }
}

.form-control--disabled, .form-control[disabled], .form-control[readonly] {
  opacity: 0.5;
  cursor: not-allowed;
}

.form-control[aria-invalid="true"], .form-control.form-control--error {
  box-shadow: inset 0px 0px 0px 1px alpha(var(--color-contrast-lower), 0), 0px 0px 0px 2px var(--color-error);

  &:focus {
    box-shadow: inset 0px 0px 0px 1px alpha(var(--color-contrast-lower), 0), 0px 0px 0px 2px var(--color-error), var(--shadow-sm);
  }
}

.form-legend {}
.form-label {}

// --------------------------------

// (END) Global editor code

// --------------------------------