@use '../base' as *;

// --------------------------------

// (START) Global editor code https://codyhouse.co/ds/globals/typography

// --------------------------------

:root {
  // font family
  --font-primary: roboto, sans-serif;
  --font-secondary: good-times, sans-serif;

  // font size
  --text-base-size: 1em; // body font-size
  --text-scale-ratio: 1.2; // multiplier used to generate the type scale values 👇
  
  // line-height
  --body-line-height: 1.4;
  --heading-line-height: 1.2;
  
  // capital letters - used in combo with the lhCrop mixin
  --font-primary-capital-letter: 1;
  --font-secondary-capital-letter: 1;

  // unit - don't modify unless you want to change the typography unit (e.g., from Rem to Em units)
  --text-unit: 1em; // if Em units → --text-unit: 1em;
}

:root, * {
  // type scale
  --text-xs: calc((var(--text-unit) / var(--text-scale-ratio)) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
  --text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio));
}


@include breakpoint(md) {
  :root {
    --text-base-size: 1.1em;
    --text-scale-ratio: 1.1;
  }
}

body {
  font-family: var(--font-primary);
}

h1, h2, h3, h4 {
  font-family: var(--font-primary);
  --heading-font-weight: 700;
}

// font family
.font-primary { font-family: var(--font-primary); }
.font-secondary { font-family: var(--font-secondary); }

// color
.color-b3b3b3-darker { color: alpha(var(--color-b3b3b3-darker), var(--color-o, 1)); }
.color-b3b3b3-dark { color: alpha(var(--color-b3b3b3-dark), var(--color-o, 1)); }
.color-b3b3b3 { color: alpha(var(--color-b3b3b3), var(--color-o, 1)); }
.color-b3b3b3-light { color: alpha(var(--color-b3b3b3-light), var(--color-o, 1)); }
.color-b3b3b3-lighter { color: alpha(var(--color-b3b3b3-lighter), var(--color-o, 1)); }
.color-green-accent-darker { color: alpha(var(--color-green-accent-darker), var(--color-o, 1)); }
.color-green-accent-dark { color: alpha(var(--color-green-accent-dark), var(--color-o, 1)); }
.color-green-accent { color: alpha(var(--color-green-accent), var(--color-o, 1)); }
.color-green-accent-light { color: alpha(var(--color-green-accent-light), var(--color-o, 1)); }
.color-green-accent-lighter { color: alpha(var(--color-green-accent-lighter), var(--color-o, 1)); }

// gradient
.color-gradient-primary-top { background-image: linear-gradient(0deg, var(--gradient-primary-stop-1), var(--gradient-primary-stop-2)); }
.color-gradient-primary-right { background-image: linear-gradient(90deg, var(--gradient-primary-stop-1), var(--gradient-primary-stop-2)); }
.color-gradient-primary-bottom { background-image: linear-gradient(180deg, var(--gradient-primary-stop-1), var(--gradient-primary-stop-2)); }
.color-gradient-primary-left { background-image: linear-gradient(270deg, var(--gradient-primary-stop-1), var(--gradient-primary-stop-2)); }
@include breakpoint(md) {
  :root {
    --text-base-size: 1.25rem;
    --text-scale-ratio: 1.25;
  }
}

h1, h2, h3, h4 {
  --heading-font-weight: 700;
}

// --------------------------------

// (END) Global editor code

// --------------------------------

// link style
a, .link {}

mark {
  background-color: alpha(var(--color-accent), 0.2);
  color: inherit;
}

.text-component {
  --line-height-multiplier: 1;
  --text-space-y-multiplier: 1;
  
  > * { // use Em units
    --text-unit: 1em;
    --space-unit: 1em;
  }

  blockquote {
    padding-left: 1em;
    border-left: 4px solid var(--color-contrast-lower);
    font-style: italic;
  }

  hr {
    background: var(--color-contrast-lower);
    height: 1px;
  }

  figcaption {
    font-size: var(--text-sm);
    color: var(--color-contrast-low);
  }
}

.article { // e.g., blog posts
  --body-line-height: 1.58; // set body line-height
  --text-space-y-multiplier: 1.2; // control vertical spacing
}