/* -------------------------------- 

File#: _1_feature-v11
Title: Feature v11
Descr: Feature section containing a boxed content over a background image
Usage: codyhouse.co/license

-------------------------------- */