/* -------------------------------- 

File#: _1_page-transition
Title: Page Transition Plugin
Descr: A plugin to create smooth transitions between pages
Usage: codyhouse.co/license

-------------------------------- */

.js-page-trans__content:focus {
  outline: none;
}