/* -------------------------------- 

File#: _2_cards-scrolling-effects
Title: Cards Scrolling Effects
Descr: A gallery of cards/images that animate on scroll
Usage: codyhouse.co/license

-------------------------------- */