/* -------------------------------- 

File#: _2_form-template-v3
Title: Form Template v3
Descr: Form template example
Usage: codyhouse.co/license

-------------------------------- */

@include breakpoint(md) {
  .form-template-v3 {
    .form-label {
      font-size: 1em;
    }
  }
}