@use '../base' as *;
@use '_1_modal-window.scss' as *;

/* -------------------------------- 

File#: _2_modal-form
Title: Modal Form
Descr: Modal window containing a form
Usage: codyhouse.co/license

-------------------------------- */