@use '../base' as *;
@use '_1_page-transition.scss' as *;

/* -------------------------------- 

File#: _2_page-transition-v1
Title: Page Transition v1
Descr: Page transition effect
Usage: codyhouse.co/license

-------------------------------- */

:root {
  --page-trans-v1-anim-duration: 0.4s;
  --page-trans-v1-loader-scale: 1;
}

.page-trans-v1 {
  position: fixed;
  overflow: hidden;
  z-index: var(--z-index-fixed-element, 10); 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0s var(--page-trans-v1-anim-duration), visibility 0s var(--page-trans-v1-anim-duration);
}

.page-trans-v1--is-visible {
  opacity: 1;
  visibility: visible;
  transition: none;

  .page-trans-v1__overlay {
    opacity: 1;
  }

  .page-trans-v1__block--left,
  .page-trans-v1__block--right {
    transform: translateX(0);
  }

  .page-trans-v1__loader {
    opacity: 1;
  }
}

.page-trans-v1__overlay, 
.page-trans-v1__block,
.page-trans-v1__loader {
  position: absolute;
  top: 0;
  height: 100%;
}

.page-trans-v1__overlay { // overlay layer (used to reduce visibility of bg elements
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity var(--page-trans-v1-anim-duration);
}

.page-trans-v1__block {
  width: 50%;
  transition: transform var(--page-trans-v1-anim-duration) var(--ease-in-out);
}

.page-trans-v1__block--left {
  left: 0;
  transform: translateX(-100%);

  .page-trans-v1__loader {
    right: -1px;
  }
}

.page-trans-v1__block--right {
  right: 0;
  transform: translateX(100%);

  .page-trans-v1__loader {
    left: -1px;
  }
}

.page-trans-v1__loader {
  opacity: 0;
  width: 2px;
  transform: scaleY(var(--page-trans-v1-loader-scale));
  transition: opacity var(--page-trans-v1-anim-duration);
}